<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameProject.Properties.Highscores" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GameProject.Highscores" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GameProject.Scores" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameProject.Properties.Highscores" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="GameProject.Highscores" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="GameProject.Scores" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GameProject.Properties.Highscores>
            <setting name="beginnerScore" serializeAs="String">
                <value />
            </setting>
            <setting name="intermediateScore" serializeAs="String">
                <value />
            </setting>
            <setting name="expertScore" serializeAs="String">
                <value />
            </setting>
        </GameProject.Properties.Highscores>
        <GameProject.Highscores>
            <setting name="beginnerScore" serializeAs="String">
                <value>Sample Beginner</value>
            </setting>
            <setting name="intermediateScore" serializeAs="String">
                <value>Sample Intermediate</value>
            </setting>
            <setting name="expertScore" serializeAs="String">
                <value>Sample Expert</value>
            </setting>
        </GameProject.Highscores>
        <GameProject.Scores>
            <setting name="beginnerScore" serializeAs="String">
                <value />
            </setting>
            <setting name="intermediateScore" serializeAs="String">
                <value />
            </setting>
            <setting name="expertScore" serializeAs="String">
                <value />
            </setting>
        </GameProject.Scores>
    </userSettings>
    <applicationSettings>
        <GameProject.Properties.Highscores>
            <setting name="defaultScore" serializeAs="String">
                <value />
            </setting>
        </GameProject.Properties.Highscores>
        <GameProject.Highscores>
            <setting name="defaultScore" serializeAs="String">
                <value>Sample Default</value>
            </setting>
        </GameProject.Highscores>
        <GameProject.Scores>
            <setting name="defaultScore" serializeAs="String">
                <value />
            </setting>
        </GameProject.Scores>
    </applicationSettings>
</configuration>